@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("../public/images/mockup.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 45px;
}
